.venv/
.deps/
.pip-cache/
.pip-temp/
__pycache__/
*.pyc
ascii_outputs/
**/ascii_outputs/
test_outputs/
**/test_outputs/
java-swing/build/
java-swing/package/
*.mp4
*.mov
*.avi
*.mkv
*.webm
java-swing/*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
